* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    height: 100%;
    overflow-x: hidden;
}
body {
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}
/*---font---*/
@font-face{ 
    font-family: 'futura_heavy';
    src: url('./font/futura/FuturaCyrillicHeavy.ttf') format('tureType');
    
    font-family: 'pretendard_bold';
    src: url('./font/Pretendard/Pretendard-Bold.otf') format('OpenType');

    font-family: 'pretendard_regular';
    src: url('./font/Pretendard/Pretendard-Regular.otf') format('OpenType');
}  
/* ===== COVER IMAGE ===== */
.cover img {
  width: 100%;
  height: auto;
  display: block;
}

/* ===== ABOUT ===== */
.about {
  padding: 100px 20px;
  background: #000;
}

.about-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.photo {
  width: 220px;
  height: 280px;
  background: #2e44ff;
}

.info-grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 30px 0;
}

